# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
vGDWenv/
env/
bin/
lib/
develop-eggs/
dist/
eggs/
lib64/
parts/
sdist/
var/
*.egg-info/

# --- Environment & IDE ---
.env
.vscode/
.idea/
*.swp
*.swo

# --- System Files ---
.DS_Store
Thumbs.db